@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.title{
    color: cornflowerblue;
    font-size: 30px;
    text-align: center;
    background: #333;
}
.letras {
    color: black;
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
}
.letras a{
    display: inline-block;
    background: cornflowerblue;
    color: #222;
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 8px;
    border: 2px solid cornflowerblue;
    transition: all 0.3s ease;
}
.letras a:hover{
    color: #222;
    background: none;
}